@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shizuru&display=swap");
.social {
  background-color: white;
  width: 60px;
  position: absolute;
  top: 30vh;
  border-radius: 30px;
  right: 10px; }
  .social ul {
    list-style: none;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
    .social ul li a {
      color: white;
      text-decoration: none;
      font-size: 1.7rem; }
    .social ul li:hover {
      transform: scale(1.5); }

.icon-social, .btn--facebook:hover, .btn--youtube:hover, .btn--instagram:hover {
  padding: 0.5rem;
  border-radius: 30px; }

/*Creamos el bucle para usar los valores del mapa*/
.btn--facebook {
  color: #3a5795; }

:hover.btn--facebook {
  background-color: rgba(127, 54, 161, 0.815); }

.btn--youtube {
  color: #ec451b; }

:hover.btn--youtube {
  background-color: rgba(127, 54, 161, 0.815); }

.btn--instagram {
  color: #fcad47; }

:hover.btn--instagram {
  background-color: rgba(127, 54, 161, 0.815); }

.header {
  height: 20vh;
  background-image: radial-gradient(#ebebce, rgba(127, 54, 161, 0.815)); }
  .header .title {
    font-family: 'Shizuru', cursive;
    text-align: center;
    color: #860e22;
    font-size: 90px;
    font-weight: bold; }

.footer {
  height: 10vh;
  color: #dad0da;
  background-color: #30273a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.fondo {
  background-color: rgba(241, 236, 187, 0.527); }

.article {
  color: #860e22; }

.text {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #1b0a16;
  margin-top: 15px;
  margin-bottom: 20px; }

.bloque {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #772f5f; }
  .bloque .bloque__img {
    width: 90%;
    object-fit: contain;
    margin: auto; }

.list {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #772f5f; }
  .list .listItem {
    margin: 10px; }
