@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shizuru&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.fondo {
  background-color: rgba(189, 135, 214, 0.527); }

.header {
  height: 20vh;
  background-image: radial-gradient(#ebebce, rgba(127, 54, 161, 0.815)); }
  .header .title {
    font-family: 'Shizuru', cursive;
    text-align: center;
    color: #860e22;
    font-size: 90px;
    font-weight: bold; }

.article {
  color: #860e22; }

.text {
  font-family: 'Roboto', sans-serif;
  color: #1b0a16;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px; }

.bloque {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #772f5f; }
  .bloque .bloque__img {
    width: 90%;
    object-fit: contain;
    margin: auto; }

.list {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #772f5f; }
  .list .listItem {
    margin: 10px; }

/* FOOTER */
.footer {
  height: 10vh;
  color: #080708;
  background-color: #9fbdf3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px; }
