.header {
    height: 20vh;
    background-image: radial-gradient(rgb(235, 235, 206),rgba(127, 54, 161, 0.815));

    .title{
        font-family: 'Shizuru', cursive;
        text-align: center;
        color: rgb(134, 14, 34);
        font-size: 90px;
        font-weight: bold;
    }   
}