@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shizuru&display=swap');
@import "_header";
@import "_footer";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo {
    background-color: rgba(241, 236, 187, 0.527);
}

.article{
    color: rgb(134, 14, 34);
}

.text{
    font-family: 'Roboto', sans-serif;
    color: #1b0a16;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    }

.bloque{
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #772f5f;

    .bloque__img{
        width: 90%;
        object-fit: contain;
        margin: auto;
    }
    
}

.list{
    list-style: none;
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #772f5f;

    .listItem{
        margin: 10px;
    }
}
